


.animated-modal {
  width: 50vw;
  height: 50vh;
  overflow: hidden;
  transform: translateY(-50px);
  transition: all 0.7s;
}

.animated-modal h2,
.animated-modal p {
  transform: translateY(-50px);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 0.8s;
}

.fancybox-bg-modal {
  opacity: 1;
  width: 100vw;
  height: 100vh;
  background: rgb(28, 113, 106);
  background: linear-gradient(
    90deg,
    rgba(28, 113, 106, 1) 0%,
    rgba(254, 123, 220, 1) 100%
  );
}

.fancybox-content {
  background: none;
}



/* Final state */

.fancybox-slide--current .animated-modal,
.fancybox-slide--current .animated-modal h2,
.fancybox-slide--current .animated-modal p {
transform: translateY(0);
opacity: 1;
text-align: left;
color: #fff;
vertical-align: middle;
max-width: 40vw;
height: auto;
max-height: 100vh;
padding-bottom: 1.5em;
margin: auto auto;
}


.fancybox-slide--current .animated-modal h2 {
  transition-delay: 0.5s;
}

.fancybox-slide--current .animated-modal p {
  transition-delay: 0.3s;
  font-family: "Quicksand", sans-serif;
  line-height: 1em;
  font-size: 1.4em;
}

.fancybox-slide--current .animated-modal p.title-author {
  font-weight: bold;
  font-size: 1.8em;
}

.fancybox-slide--current .animated-modal p.title-Colaboration {
  font-weight: normal;
  font-size: 1em;
  letter-spacing: 1em;
}



